# DICT. ITERATION:

In [3]:
dict = {1: 'apple', 2:'ball', '3': 'cat'}

for key in dict:
    print(key, '   ', dict[key])
    
print('-----------------------------------------------')
    
for key, value in dict.items():
    print(key, '   ', value)

1     apple
2     ball
3     cat
-----------------------------------------------
1     apple
2     ball
3     cat

# USE OF ZIP:

In [5]:
items = ['apple', 'banana', 'cat', 'dog']
weights = [1, 2, 3, 4]

res=[]
for temp in zip(items, weights):
    res.append(temp)
    
res

[('apple', 1), ('banana', 2), ('cat', 3), ('dog', 4)]

# USE OF ENUMERATE:

In [7]:
for i, item in enumerate(items):
    print(i,'  ',item)

0    apple
1    banana
2    cat
3    dog

In [8]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
for point in zip(labels, x_coord, y_coord, z_coord):
    points.append("{}: {}, {}, {}".format(*point))

for point in points:
    print(point)

F: 23, 677, 4
J: 53, 233, 16
A: 2, 405, -6
Q: -12, 433, -42
Y: 95, 905, 3
B: 103, 376, -6
W: 14, 432, 23
X: -5, 445, -1

# UNZIP:

In [10]:
cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))

names, heights = zip(*cast)
print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

# LIST COMPREHENSION:

In [12]:
x = [1,2,3,4,5]

squares = [tmp**2 for tmp in x]
squares

[1, 4, 9, 16, 25]

In [14]:
squares = [tmp**2 for tmp in x if tmp<5]
squares

[1, 4, 9, 16]

In [16]:
powers = [tmp**2 if tmp%2==1 else tmp**3 for tmp in x]
powers

[1, 8, 9, 64, 25]

# QUIZ:
## Use a list comprehension to create a new list first_names containing just the first names in names in lowercase.

In [18]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

f_names = [tmp.split(' ')[0].lower() for tmp in names]
f_names

['rick', 'morty', 'summer', 'jerry', 'beth']

## Use a list comprehension to create a list multiples_3 containing the first 20 multiples of 3.

In [19]:
multiples_3 = [tmp*3 for tmp in range(1, 21)]
multiples_3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

## Use a list comprehension to create a list of names passed that only include those that scored at least 65.

In [21]:
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

names = [tmp for tmp in scores if scores[tmp]>65]
names

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Variable scope is only about within function or outside function.

In [22]:
i=0
while i<5:
    ans = i
    i+=100
print(ans)

0

# VARIABLE SCOPE ERROR:

In [23]:
egg_count = 0

def buy_eggs():
    egg_count += 12 # purchase a dozen eggs

buy_eggs()

UnboundLocalError: local variable 'egg_count' referenced before assignment

This code causes an UnboundLocalError, because the variable egg_count in the first line has global scope. Note that it is not passed as an argument into the function, so the function assumes the egg_count being referred to is the global variable.

In the last video, you saw that within a function, we can print a global variable's value successfully without an error. This worked because we were simply accessing the value of the variable. If we try to change or reassign this global variable, however, as we do in this code, we get an error. Python doesn't allow functions to modify variables that aren't in the function's scope.

A better way to write this would be:

In [25]:
egg_count = 0

def buy_eggs(count):
    return count + 12  # purchase a dozen eggs

egg_count = buy_eggs(egg_count)
egg_count

12

# LAMBDA EXPRESSION:

In [27]:
def double_function(x):
    return x*2

double = lambda x:x*2

print(double_function(5))
print(double(5))

10
10

In [29]:
multiply = lambda x,y: x*y

multiply(5,10)

50

# LAMBDA WITH MAP

map() is a higher-order built-in function that takes a function and iterable as inputs, and returns an iterator that applies the function to each element of the iterable.

In [35]:
arr_numbers = [[1,2,3], [4,5,6], [7,8,9]]

def mean(num_list):
    return sum(num_list)/len(num_list)

avg = list(map(mean, arr_numbers))
print(avg)

[2.0, 5.0, 8.0]

In [38]:
avg_using_lambda = list(map(lambda x: sum(x)/len(x), arr_numbers))
avg_using_lambda

[2.0, 5.0, 8.0]

# LAMBDA WITH FILTER:

In [39]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

def is_short(city):
    return len(city)<10

short_cities = list(filter(is_short, cities))
short_cities

['Chicago', 'Denver', 'Boston']

In [40]:
short_cities_using_lambda = list(filter(lambda x: len(x)<10, cities))
short_cities_using_lambda

['Chicago', 'Denver', 'Boston']

# ITERATOR AND GENERATOR

In [42]:
lessons = ["Why Python Programming", "Data Types and Operators", "Control Flow", "Functions", "Scripting"]

def my_enumerate(iterable, start = 0):
    for element in iterable:
        yield start, element
        start+=1
        
for i, lesson in my_enumerate(lessons, 1):
    print("Lesson {}: {}".format(i, lesson))

Lesson 1: Why Python Programming
Lesson 2: Data Types and Operators
Lesson 3: Control Flow
Lesson 4: Functions
Lesson 5: Scripting